<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}"Polizeiausbildung Passwort zurücksetzen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Grüße!
        </p>
        <p th:text="#{email.reset.text1}">
            Von deinem Account bei Polizeiausbildung wurde ein neues Passwort angefordert.
            Klicke auf den folgenden Link, um das aktuelle Passwort zurückzusetzen:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Passwort zurücksetzen</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Viel Erfolg! </span>
            <br/>
            <em th:text="#{email.signature}">Dein Polizeiausbildungsteam.</em>
        </p>
    </body>
</html>
