<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.social.registration.title}">Aktivierung Polizeiausbildung Account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.social.registration.greeting(${user.firstName})}">
            Grüße!
        </p>
        <p th:text="#{email.social.registration.text1(${provider})}">
            Dein Account bei Polizeiausbildung wurde registriert mit: Provider.
        </p>
        <p>
            <span th:text="#{email.social.registration.text2}">Danke! </span>
            <br/>
            <em th:text="#{email.signature}">Dein Polizeiausbildungsteam.</em>
        </p>
    </body>
</html>
