<div class="footer">
    <div class="footer_container">
        <div class="nav-link footer_element">©2017 B&M</div>
        <div class="nav-link footer_element">Impressum</div>
        <div class="nav-link footer_element">Datenschutz</div>
        <div class="nav-link footer_element">Haftungsausschluss</div>
        <div class="nav-link footer_element">Nutzungsbedingungen</div>
        <div class="nav-link footer_element">Hilfe</div>
        <div class="nav-link footer_element">Presse</div>
        <div class="nav-link footer_element">Über uns</div>
    </div>
</div>
