
<div *ngIf="article">
    <h2><span>Article</span> {{article.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{article.title}}</span>
        </dd>
        <dt><span>Legaltext</span></dt>
        <dd>
            <span>{{article.legaltext}}</span>
        </dd>
        <dt><span>Codeoflaw</span></dt>
        <dd>
            <div *ngIf="article.codeoflaw">
                <a [routerLink]="['/codeoflaw', article.codeoflaw?.id]">{{article.codeoflaw?.shortTitle}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
