<div>
    <h2>{{flashcard.title}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dd>
            <span id="htmlencodeddescription"></span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Zurück</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'flashcard/'+ flashcard.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editieren</span>
    </button>
</div>
