<div>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" (keyup)="searchFlashcardByTitleLike(currentSearch)" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Suchbegriff eingeben">
                    <button class="input-group-addon btn btn-info" (click)="searchFlashcardByTitleLike(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <ul [@listAnimation]="flashcards.length">
                <li *ngFor="let flashcard of flashcardsNoHTML" style="list-style-type: none;">
                    <a class="flashcardTitleLink" routerLink="/editor" routerLinkActive="active"><h3>{{flashcard.title}}</h3></a>
                    <h4>{{flashcard.description}}</h4>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>
