<div class="buttons_container">
<div class="buttons_background">
    <div id="codeoflaw1" class="button_base b05_3d_roll" (click)="getContent('BGB')">
        <div>Bürgerliches Gesetzbuch (BGB)</div>
        <div>Bürgerliches Gesetzbuch (BGB)</div>
    </div>
    <div id="codeoflaw2" class="button_base b05_3d_roll" (click)="getContent('BUrlG')">
        <div>Bundesurlaubsgesetz (BUrlG)</div>
        <div>Bundesurlaubsgesetz (BUrlG)</div>
    </div>
    <div id="codeoflaw3" class="button_base b05_3d_roll" (click)="getContent('EFZG')">
        <div>Entgeltfortzahlungsgesetz (EFZG)</div>
        <div>Entgeltfortzahlungsgesetz (EFZG)</div>
    </div>
    <div id="codeoflaw4" class="button_base b05_3d_roll" (click)="getContent('GKG')">
        <div>Gerichtskostengesetz (GKG)</div>
        <div>Gerichtskostengesetz (GKG)</div>
    </div>
    <div id="codeoflaw5" class="button_base b05_3d_roll" (click)="getContent('GGB')">
        <div>Grundgesetzbuch (GGB)</div>
        <div>Grundgesetzbuch (GGB)</div>
    </div>
</div>
<div class="buttons_background">
    <div class="button_base b05_3d_roll">
        <div>Insolvenzordnung (InsO)</div>
        <div>Insolvenzordnung (InsO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Kündigungsschutzgesetz (KSchG)</div>
        <div>Kündigungsschutzgesetz (KSchG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Mindestlohngesetz (MiLoG)</div>
        <div>Mindestlohngesetz (MiLoG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Ordnungswidrigkeitengesetz (OWiG)</div>
        <div>Ordnungswidrigkeitengesetz (OWiG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Strafgesetzbuch (StGB)</div>
        <div>Strafgesetzbuch (StGB)</div>
    </div>
</div>
<div class="buttons_background">
    <div class="button_base b05_3d_roll">
        <div>Strafprozessordnung (StPO)</div>
        <div>Strafprozessordnung (StPO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Straßenverkehrsgesetz (StVG)</div>
        <div>Straßenverkehrsgesetz (StVG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Verwaltungsgerichtsordnung (VwGO)</div>
        <div>Verwaltungsgerichtsordnung (VwGO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Verwaltungsverfahrensgesetz (VwVfG)</div>
        <div>Verwaltungsverfahrensgesetz (VwVfG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Zivilprozessordnung (ZPO)</div>
        <div>Zivilprozessordnung (ZPO)</div>
    </div>
</div>
</div>
<div class="container_law_content">
    <div>
        {{ lawcontent }}
    </div>
</div>
<div class="table-responsive" *ngIf="articles">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span>Title</span></th>
            <th><span>Legaltext</span></th>
            <th><span>Codeoflaw</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of articles ;trackBy: trackId">
            <td>{{article.title}}</td>
            <td>{{article.legaltext}}</td>
            <td>
                <div *ngIf="article.codeoflaw">
                    <a [routerLink]="['../codeoflaw', article.codeoflaw?.id ]" >{{article.codeoflaw?.shortTitle}}</a>
                </div>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['../article', article.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="hidden-md-down">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="hidden-md-down">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="hidden-md-down">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
