<div class="buttons_container">
<div class="buttons_background">
    <div id="codeoflaw1" class="button_base b05_3d_roll" (click)="getCodeOfLawContentByKeyword('BGB')">
        <div>Bürgerliches Gesetzbuch (BGB)</div>
        <div>Bürgerliches Gesetzbuch (BGB)</div>
    </div>
    <div id="codeoflaw2" class="button_base b05_3d_roll" (click)="getContent('BUrlG')">
        <div>Bundesurlaubsgesetz (BUrlG)</div>
        <div>Bundesurlaubsgesetz (BUrlG)</div>
    </div>
    <div id="codeoflaw3" class="button_base b05_3d_roll" (click)="getContent('EFZG')">
        <div>Entgeltfortzahlungsgesetz (EFZG)</div>
        <div>Entgeltfortzahlungsgesetz (EFZG)</div>
    </div>
    <div id="codeoflaw4" class="button_base b05_3d_roll" (click)="getContent('GKG')">
        <div>Gerichtskostengesetz (GKG)</div>
        <div>Gerichtskostengesetz (GKG)</div>
    </div>
    <div id="codeoflaw5" class="button_base b05_3d_roll" (click)="getContent('GmbHG')">
        <div>GmbH Gesetz (GmbHG)</div>
        <div>GmbH Gesetz (GmbHG)</div>
    </div>
</div>
<div class="buttons_background">
    <div class="button_base b05_3d_roll">
        <div>Insolvenzordnung (InsO)</div>
        <div>Insolvenzordnung (InsO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Kündigungsschutzgesetz (KSchG)</div>
        <div>Kündigungsschutzgesetz (KSchG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Mindestlohngesetz (MiLoG)</div>
        <div>Mindestlohngesetz (MiLoG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Ordnungswidrigkeitengesetz (OWiG)</div>
        <div>Ordnungswidrigkeitengesetz (OWiG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Strafgesetzbuch (StGB)</div>
        <div>Strafgesetzbuch (StGB)</div>
    </div>
</div>
<div class="buttons_background">
    <div class="button_base b05_3d_roll">
        <div>Strafprozessordnung (StPO)</div>
        <div>Strafprozessordnung (StPO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Straßenverkehrsgesetz (StVG)</div>
        <div>Straßenverkehrsgesetz (StVG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Verwaltungsgerichtsordnung (VwGO)</div>
        <div>Verwaltungsgerichtsordnung (VwGO)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Verwaltungsverfahrensgesetz (VwVfG)</div>
        <div>Verwaltungsverfahrensgesetz (VwVfG)</div>
    </div>
    <div class="button_base b05_3d_roll">
        <div>Zivilprozessordnung (ZPO)</div>
        <div>Zivilprozessordnung (ZPO)</div>
    </div>
</div>
</div>
<div class="container_law_content">
    <div>
        {{ lawcontent }}
    </div>
</div>
