<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Registrierung</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registrierung gespeichert!</strong> Überprüfe deine Mails und bestätige die Registrierung.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registrierung fehlgeschlagen!</strong> Versuche es später nochmal.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Dieser Benutzername existiert bereits!</strong> Versuche es mit einem Anderen.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Diese E-Mail ist bereits in verwendung!</strong> Verwende eine andere E-Mail Adresse.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Die Passwörter stimmen nicht überein.
            </div>
        </div>
        <div class="col-md-4 offset-md-2">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Benutzername</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Dein Benutzername"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Es wird ein Benutzername benötigt.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Benutzername muss mindestens eine Länge von 1 haben.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Benutzername darf die Länge von 50 nicht überschreiten.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Benutzername darf nur aus Kleinbuchstaben und Zahlen bestehen, sorry!
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Deine E-Mail"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Es wird eine Email benötigt.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Die angegebene Email ist nicht valide.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Die Email muss mindestens eine Länge von 5 haben.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Die Email darf eine Länge von 100 nicht
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Neues Passwort</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Neues Passwort"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Es wird ein Passwort benötigt.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Die Mindestlänge für das Passwort ist 4.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Das Passwort darf nicht länger als 50 Zeichen sein.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Neues Passwort bestätigen</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Neues Passwort bestätigen"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Es fehlt das Passwort zum bestätigen.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Das Bestätigungspasswort muss mindestens 4 Zeichen lang sein.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Das Bestätigungspasswort darf höchstens 50 Zeichen lang sein.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Registrieren</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <span>Wenn du dich ohne eigenen Account </span>
                <a class="alert-link" (click)="openLogin()">anmelden</a><span> möchtest, probier folgenden Standardaccount:<br/>- Standardbenutzer (Benutzername="user" und Passwort="user").</span>
            </div>
        </div>
        <div class="col-md-4">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
