<div class="row">
    <button class="btn btn-primary contact_feedback" (click)="feedback()">
        <span class="fa fa-info-circle"></span>
        <span class="hidden-sm-down" >
             Feedback / Kontakt
            </span>
    </button>
    <div class="col-md-2" style="padding-left:40px">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Willkommen Polizei Padawan</h1>
        <p class="lead"><i>"Du musst noch sehr viel lernen, mein sehr junger Padawan." - Obi-Wan Kenobi zu Anakin Skywalker</i></p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                > Du bist eingeloggt als Benutzer "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Wenn du dich </span>
                <a class="alert-link" (click)="login()">einloggen</a><span> möchtest, probier folgenden Standardaccount <br/>- User (Benutzer="user" und Passwort="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Noch keinen eigenen Account erstellt?</span>
                <a class="alert-link" routerLink="register">Jetzt registrieren</a>
            </div>
        </div>
    </div>
    <div class="col-md-11" [ngSwitch]="isAuthenticated()">
        <div>
            <search *ngSwitchCase="true" [@myAwesomeAnimation]="'fadeIn'"></search>
        </div>
    </div>
</div>
